pip
setuptools
black
wheel
tox
coverage
Sphinx
sphinx-autodoc-typehints
twine
Click
pytest
pytest-cov
pytest-asyncio
Faker
pylint
mypy
doc8
pre-commit
python-dateutil

# Vscode support
rstcheck
esbonio
